.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.sidebar {
    background-image: radial-gradient( circle farthest-corner at 10% 20%, #0f5132 0.1%, #212529 94.2% );
}

@media (min-width: 1025px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }
}
