<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="OpenAIChatGPTBlazor.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />

    <link rel="stylesheet" href="lib/prism/themes/prism.min.css">
    <link rel="stylesheet" href="lib/prism/plugins/toolbar/prism-toolbar.min.css">
    <link rel="stylesheet" href="lib/font-awesome/css/all.min.css" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="lib/prism/prism.min.js"></script>
    <script src="lib/prism/components/prism-asciidoc.min.js"></script>
    <script src="lib/prism/components/prism-bash.min.js"></script>
    <script src="lib/prism/components/prism-batch.min.js"></script>
    <script src="lib/prism/components/prism-csharp.min.js"></script>
    <script src="lib/prism/components/prism-cshtml.min.js"></script>
    <script src="lib/prism/components/prism-css.min.js"></script>
    <script src="lib/prism/components/prism-docker.min.js"></script>
    <script src="lib/prism/components/prism-http.min.js"></script>
    <script src="lib/prism/components/prism-javascript.min.js"></script>
    <script src="lib/prism/components/prism-json.min.js"></script>
    <script src="lib/prism/components/prism-markdown.min.js"></script>
    <script src="lib/prism/components/prism-markup.min.js"></script>
    <script src="lib/prism/components/prism-powershell.min.js"></script>
    <script src="lib/prism/components/prism-sql.min.js"></script>
    <script src="lib/prism/components/prism-typescript.min.js"></script>
    <script src="lib/prism/components/prism-yaml.min.js"></script>
    <script src="lib/prism/plugins/toolbar/prism-toolbar.min.js"></script>
    <script src="lib/prism/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>

    <script src="_framework/blazor.web.js"></script>
</body>

</html>
