@using Azure.AI.OpenAI
@using OpenAI.Images
<EditForm Model="@this">
    <div class="form-group">
        <InputTextArea class="form-control" placeholder="Prompt" @bind-Value="Prompt" />
    </div>
    <div class="form-group">
        <label for="size">Size</label>
        <InputSelect @bind-Value="_size">
            <option value="1024x1024">1024x1024</option>
            <option value="1792x1024">1792x1024</option>
            <option value="1024x1792">1024x1792</option>
        </InputSelect>
        <label for="quality">Quality</label>
        <InputSelect id="quality" name="quality" @bind-Value="_quality">
            <option value="Standard">Standard</option>
            <option value="HD">HD</option>
        </InputSelect>
        <label for="style">Style</label>
        <InputSelect id="style" name="style" @bind-Value="_style">
            <option value="Natural">Natural</option>
            <option value="Vivid">Vivid</option>
        </InputSelect>
    </div>
</EditForm>


@code {
    [Parameter]
    public string Prompt { get; set; } = string.Empty;

    private string _size = GeneratedImageSize.W1024xH1024.ToString();
    private string _quality = GeneratedImageQuality.Standard.ToString();
    private string _style = GeneratedImageStyle.Natural.ToString();

    public ImageGenerationOptions AsAzureOptions(string deploymentName)
    {
        return new()
            {
                Size = new GeneratedImageSize(int.Parse(_size.Split("x")[0]), int.Parse(_size.Split("x")[1])),
                Quality = Enum.Parse<GeneratedImageQuality>(_quality),
                Style = Enum.Parse<GeneratedImageStyle>(_style)
            };
    }
}
