@using Azure.AI.OpenAI
<EditForm Model="@this">
    <div class="form-group">
        <InputTextArea class="form-control" placeholder="Prompt" @bind-Value="_prompt" />
    </div>
    <div class="form-group">
        <label for="size">Size</label>
        <InputSelect @bind-Value="_size">
            <option value="1024x1024">1024x1024</option>
            <option value="1792x1024">1792x1024</option>
            <option value="1024x1792">1024x1792</option>
        </InputSelect>
        <label for="quality">Quality</label>
        <InputSelect id="quality" name="quality" @bind-Value="_quality">
            <option value="standard">Standard</option>
            <option value="hd">HD</option>
        </InputSelect>
        <label for="style">Style</label>
        <InputSelect id="style" name="style" @bind-Value="_style">
            <option value="natural">Natural</option>
            <option value="vivid">Vivid</option>
        </InputSelect>
    </div>
</EditForm>


@code {
    [Parameter]
    public string? DeploymentName { get; set; }

    private string _prompt = "";
    private string _size = ImageSize.Size1024x1024.ToString();
    private string _quality = ImageGenerationQuality.Standard.ToString();
    private string _style = ImageGenerationStyle.Natural.ToString();

    public ImageGenerationOptions AsAzureOptions(string deploymentName)
    {
        return new()
            {
                DeploymentName = deploymentName,
                Prompt = _prompt,
                ImageCount = 1,
                Size = _size,
                Quality = _quality,
                Style = _style
            };
    }
}
